/* =========================
   LAPTOP
========================= */

@media (max-width:1200px){

    .container{
        width:95%;
    }

    .nav ul{
        gap:25px;
    }

    .social{
        gap:15px;
    }

}

/* =========================
   TABLET
========================= */

@media (max-width:992px){

    .nav,
    .social{
        display:none;
    }

    .header .container{
        justify-content:center;
    }

    .logo img{
        height:55px;
    }

}

/* =========================
   MOBILE
========================= */

@media (max-width:576px){

    .logo img{
        height:45px;
    }

    .hero{
        height:70vh;
        background-position:center;
    }

}